<?xml version="1.0" encoding="UTF-8" ?>
<!-- 이 파일이 mybatis 설정에 관한 xml 파일이라는 것을 명시해준다. -->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- configuration 태그 안에 설정 정보를 입력 -->
<configuration>
    <typeAliases>
        <!-- 자주 쓰는 타입은 이렇게 alias를 등록할 수 있다. -->
        <!-- 참고로 Mybatis에서는 내장 별칭도 존재하니 알아두면 좋다. -->
        <typeAlias type="com.dbwls.section01.xmlconfig.MenuDTO" alias="MenuDTO"/>
    </typeAliases>
    <!-- MyBatis의 작업 설정을 설명하는 XML 파일 -->
    <environments default="development">
        <environment id="development">
            <!-- 수동 커밋  -->
            <transactionManager type="JDBC"/>
            <!--커넥션 풀 생성 할래? 말래? -->
            <dataSource type="POOLED">
                <!-- 데이터 내부 값 -->
                <!-- 근데? 이렇게 설정하는거 불편하지 않아? value가 바뀌면 여기까지 와서 고쳐야돼?!!-->
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/menudb"/>
                <property name="username" value="swcamp"/>
                <property name="password" value="swcamp"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 어떤 mapper와 mapping?! -->
    <mappers>
        <mapper resource="com/dbwls/section01/xmlconfig/menu-mapper.xml"/>
    </mappers>
</configuration>