<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="config/connection-info.properties"/>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <package name="com.dbwls.section01.xmlmapper"/>
    </typeAliases>

    <!-- 이것도 property 파일을 분리하는 것이 유지보수성에 더 좋으므로 이렇게 설정하는 것 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 어떤 mapper를 읽을 것인지? -->
    <mappers>
        <package name="com.dbwls.section01.xmlmapper"/>
    </mappers>
</configuration>